/* ============== Generall ============== */
body{
  background-color: lightgrey;
}

.navContainer{
  padding: 0;
  margin-bottom: 10px;
}
.page{
  width: 100%;

  color: black;
}
.navLinks{
  margin: 2px;
  font-size: 10px;
}
.errorMessContainer{
  position: relative;
  margin-top: -38px;
  margin-bottom: -13px;
  margin-left: 1px;
  width: 158px;
  font-size: 10px;
  color: red;
  font-weight: bold;
}
.errorMessText{
  width: 150px;
}
/* ============== Main App ============== */
#appBody{
  margin-left: 10px; /*calc(50% - 200px);*/
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 30px;
}
main{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
}
#headLine{
  width: 100%;
  text-align: center;
}
/* ============== Main page ============== */

/* ============== Add page ============== */
.addRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;

}
/* ============== Edit page ============== */
